<div id="contenedor">
  <header>
    <img src="./view/Images/logo.png" class="logo">
    <h1>{{i18n 'Menu'}}</h1>
    <nav id="nav">
      <li>
        <div id="userbar">Loading...</div>
      </li>
    </nav>
  </header>

  <main id="maincontent">Loading...</main>
  <footer>
    <h1>{{i18n 'Copyright 2017 FasVery. All rights reserved.'}}</h1>
    <div id="languagecontrol">Loading...</div>
  </footer>
</div>
